.custom-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    accent-color: #000;
}
.image-container {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1/1;
}
.image-container:hover {
    img {
        transition: transform 0.2s;
        transform: scale(1.02);
        border-radius:unset;
    }
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}