.custom-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    accent-color: #000;
}
.image-container {
    position: relative;
    transition: transform 0.2s;
    cursor: pointer;
    height: 350px;
}
.image-container:hover {
    transform: scale(1.02);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}